<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% block title %}
        {% if title %}
          <title>{{ title }} - InventorFlow</title>
        {% else %}
          <title>InventorFlow</title>
        {% endif %}
    {% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/Buttons-With-Waves-Effect.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/Dropdown-Dark-Theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/Material-Footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/Navbar-Right-Links-Dark-icons.css') }}">
</head>

<body>
    <div class="container" style="margin-bottom: 1px;">
        <header class="border rounded-pill border-2" style="margin-top: 12px;">
            <nav class="navbar navbar-expand-md fixed-top bg-dark py-3" data-bs-theme="dark">
                <div class="container"><a class="navbar-brand d-flex align-items-center" href="index.html"><span>InventorFlow</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-5">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link active" href="{{ url_for('index')}}">Products</a></li>
                            <li class="nav-item"><a class="nav-link" href="category.html">Category</a></li>
                            <li class="nav-item"><a class="nav-link" href="suppliers.html">Suppliers</a></li>
                            <li class="nav-item"><a class="nav-link" href="transactions.html">Transactions</a></li>
                            <li class="nav-item"><a class="nav-link" href="summary.html">Summary</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        {% block content %}{% endblock content %}
        <footer class="bg-dark float-none">
            <p class="text-center" style="width: auto;margin-bottom: 8px;color: var(--bs-secondary);margin-top: 19px;padding-top: 6px;">© 2024 Copyright:&nbsp; O'Brien Abucheri</p>
        </footer>
    </div>
    <script src="{{ url_for('static', filename= 'assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/Buttons-With-Waves-Effect-waves.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/Buttons-With-Waves-Effect-waves-settings.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename= 'assets/js/custom.js') }}"></script>
</body>

</html>