{% extends 'base.html' %}

{% block title %}
    Edit Unit
{% endblock title %}

{% block content %}
    <div style="margin-top: 150px;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="text-center">
            <form class="row g-3" action="" method="POST">
                <div class="col-12">
                    <label class="form-label" for="unit_id">Unit ID</label>
                    <input class="form-control form-control-sm" type="text" name="unit_id" placeholder="Unit ID" value="{{ unit[0] }}" readonly="">
                </div>
                <div class="col-12">
                    <label class="form-label" for="unit_name">Unit Name</label>
                    <input class="form-control form-control-sm" type="text" name="unit_name" value="{{ unit[1] }}" placeholder="Unit Name" required="">
                </div>
                <div class="text-center mt-3">
                    <input style="background-color: forestgreen; color: white;" class="btn btn-sm btn-success" type="submit" name="save" value="Update">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}