<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>InventorFlow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/Buttons-With-Waves-Effect.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/Dropdown-Dark-Theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/Material-Footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/Navbar-Right-Links-Dark-icons.css') }}">
</head>

<body>
    <div class="container-fluid" style="margin-bottom: 1px;">
        <header class="border rounded-pill border-2" style="margin-top: 12px;">
            <nav class="navbar navbar-expand-md fixed-top bg-dark py-3" data-bs-theme="dark">
                <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>InventorFlow</span></a></div>
            </nav>
        </header>
        <div class="container" style="position: absolute;left: 0;right: 0;top: 50%;transform: translateY(-50%);-ms-transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);margin-top: 57px;">
            <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
                <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 5px;">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Create an Account!</h4>
                        </div>
                        <form class="user">
                            <div class="mb-3"><input class="form-control form-control-user" type="text" placeholder="Username" required=""></div>
                            <div class="mb-3"><input class="form-control form-control-user" type="email" id="email" placeholder="Email Address" required=""></div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="password" placeholder="Password" required=""></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="verifyPassword" placeholder="Repeat Password" required=""></div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" placeholder="First Name" required=""></div>
                                <div class="col-sm-6"><input class="form-control form-control-user" type="text" placeholder="Last Name" required=""></div>
                            </div>
                            <div class="row mb-3">
                                <p id="emailErrorMsg" class="text-danger" style="display:none;">Paragraph</p>
                                <p id="passwordErrorMsg" class="text-danger" style="display:none;">Paragraph</p>
                            </div><button class="btn btn-primary d-block btn-user w-100" id="submitBtn" type="submit">Register Account</button>
                            <hr>
                        </form>
                        <div class="text-center"><a class="small" href="login.html">Already have an account? Login!</a></div>
                    </div>
                </div>
            </div>
            <footer class="bg-dark float-none">
                <p class="text-center" style="width: auto;margin-bottom: 8px;color: var(--bs-secondary);margin-top: 19px;padding-top: 6px;">© 2024 Copyright:&nbsp; O'Brien Abucheri</p>
            </footer>
        </div>
    </div>
    <script src="{{ url_for('static', filename= 'assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/Buttons-With-Waves-Effect-waves.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/js/Buttons-With-Waves-Effect-waves-settings.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename= 'assets/js/custom.js') }}"></script>
</body>

</html>