{% extends 'base.html' %}

{% block title %}
    Analysis
{% endblock title %}

{% block content %}
{#    <div class="text-center" style="margin-top: 70px;">#}
{#            <div class="dropdown"><button class="btn btn-success dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">Export</button>#}
{#                <div class="dropdown-menu"><a class="dropdown-item text-center" href="#">PDF</a></div>#}
{#            </div>#}
{#    </div>#}
    <div style="margin-top: 45px;">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-xxl-9">
                    <div class="card shadow">
                        <div class="card-header d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between gap-3">
                            <h5 class="display-6 text-nowrap text-capitalize mb-0">Reports &amp; Analysis</h5>
                        </div>
                        <div class="card-body text-center">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Bar Chart -->
                                    <div style="width: 40%;">
                                        <h2>Counts</h2>
                                        <canvas id="myBarChart" width="400" height="400"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!-- Line Chart -->
                                    <div style="width: 50%;">
                                        <h2>Daily Transactions</h2>
                                        <canvas id="myLineChart" width="400" height="400"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}